* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containor {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 10px;

}

.h1 {
    text-align: center;
    font-size: larger;
    padding: 25px 0;
}

.form {
    /* width: 100%; */
    gap: 18px;
    display: flex;
    flex-direction: column;

}

.input {
    border-radius: 13px;
    border: 1px solid #c0c0c0;
    padding: 12px 15px;
}

.login {
    background-color: teal;
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 13px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}


.lab {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

a {
    text-decoration: underline;
    color: teal;
    cursor: pointer;
}

.acc {
    padding-top: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    color: white;
    /* margin-top: 25px; */
    /* width: 100%; */
    font-size: 13px;

}

.apple {
    background-color: black;
    border: 1px solid transparent;
    border-radius: 13px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    gap: 6px;

}

.google {
    background-color: teal;
    border: 1px solid transparent;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    gap: 6px;
}
